#menuLayout{
    fx-border-color: transparent transparent transparent black;
    -fx-border-width: 0 2px 0 0;
}

.btnMenu{
    -fx-background-color: #6a6a6a;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.22), 0, 0, -9, 9);
}

#toggleButton {
    -fx-font-size: 18px;
    -fx-background-color: transparent;
    -fx-text-fill: black;
}